.danger-text {
  color: red;
}

.daily-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.daily-menu-container table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.daily-menu-container th,
.daily-menu-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.daily-menu-container th {
  background-color: #f2f2f2;
}
